@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import '~leaflet/dist/leaflet.css';

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400 !important;
  background: #e4e4e4;
}

.btn-light {
  background-color: #eee !important;
}

.font-retro {
  font-family: 'Silkscreen', sans-serif;
}

.table-transparent th,
.table-transparent td {
  background-color: transparent;
  border: none;
}